<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quidem, reprehenderit natus enim quasi doloremque, quos tempora provident velit ab dolorem adipisci sunt illum molestiae magni. Est, autem nesciunt! Sequi!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quidem, reprehenderit natus enim quasi doloremque, quos tempora provident velit ab dolorem adipisci sunt illum molestiae magni. Est, autem nesciunt! Sequi!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quidem, reprehenderit natus enim quasi doloremque, quos tempora provident velit ab dolorem adipisci sunt illum molestiae magni. Est, autem nesciunt! Sequi!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
